<?xml version="1.0"?>
<launch>
    <!-- Load Gazebo with given values -->
  <include file="$(find iiwa_moveit)/launch/moveit_planning_execution.launch">
    <arg name="debug_move_group" value="false"/>
  </include>
  <node pkg="moveit_rt_optim" type="wrench_publisher.py" name="wp"/>

  <node name="wp_relay" type="relay" pkg="topic_tools" args="iiwa/py_wrench_pub iiwa/rt_optim/CartesianWrench" />

</launch>
